@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.example-bright-container {
  @include mat.theme(
    (
      color: mat.$cyan-palette,
    )
  );
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #890089;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
