@use './app/styles/spacing' as *;
@use './app/styles/layout' as *;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--mat-mdc-background, #fff);
  color: var(--mat-mdc-foreground-text-color, #000);
}

.mat-mdc-dark-theme {
  // Optional: override colors only when this class is present
  background-color: var(--mat-mdc-background, #121212);
  color: var(--mat-mdc-foreground-text-color, #fff);
}