.preview-content {
  display: flex;
  flex-direction: column;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 0.5rem;
}

.mb-4 {
  margin-bottom: 0.5rem;
}
.mb-6 {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 0.5rem;
}

.p-4 {
  padding: 0.5rem;
}
.p-6 {
  padding: 1rem;
}
